<div class="ezy-preview">
  <img class="ezy-preview-picture" src="https://www.guinnessworldrecords.com/Images/Maru_tcm25-466616.jpg">
</div>
<div class="ezy-content">
  <ezy-stream-title>Business Insider UK</ezy-stream-title>
  <h4>
    Supermarket to introduce
  </h4>
  <p>
    The Trump administration is considering payments of $2 per bushel for soybeans, 63 cents per bushel for wheat and
    The Trump administration is considering payments of $2 per bushel for soybeans, 63 cents per bushel for wheat and
  </p>
</div>
