/**
 Color palette
 */

$ezy-white: #FFFFFF;
$ezy-blue: #06A5BE;

$ezy-gray-lightest: #ECECEC;
$ezy-gray-light: rgba( #000000, 0.16 );
$ezy-gray: #707070;
$ezy-gray-darkest: #292929;

$ezy-black: #000000;
