@mixin ezy-limit-lines($line-height,$num-lines,$background-color) {
  overflow: hidden;
  position: relative;
  max-height: $line-height * $num-lines;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $background-color;
  }
}
