/**
Default font settings
*/

$ezy-default-line-height: 17px;
$ezy-default-font-size: 14px;
$ezy-default-font-name: "Proxima Nova";
$ezy-default-font-weight: normal;

/**
Default html font size for rem units
*/
$ezy-rem-size: 16px;
