<ezy-toolbar></ezy-toolbar>
<ezy-card-grid>
  <ezy-card *ngFor="let card of cards"
            imageUrl="https://www.guinnessworldrecords.com/Images/Maru_tcm25-466616.jpg"
            streamLogoUrl="http://www.magicaltouch.ru/wa-data/public/shop/products/23/26/2623/images/4718/4718.96.jpg"
            streamName="Business Insider UK"
            header="Supermarket to introduce">
      The Trump administration is considering payments of $2 per bushel for soybeans, 63 cents per bushel for wheat and
      The Trump administration is considering payments of $2 per bushel for soybeans, 63 cents per bushel for wheat and
  </ezy-card>
</ezy-card-grid>

