<header>
  <div class="ezy-logo"></div>
  <ezy-filters-button [active]="panelExpanded"
                      (activated)="changePanelState($event)">
    Filters
  </ezy-filters-button>
</header>
<my-accordion [expanded]="panelExpanded"
              [animationTime]="300"
              timingFunction="ease-out">
  <section>
    <div class="ezy-toolbar">
       <div *ngIf="panelExpanded"
            class="ezy-toolbar-num-card-chooser-container">
         <ezy-num-cards-chooser></ezy-num-cards-chooser>
         <ezy-refresh-interval-chooser></ezy-refresh-interval-chooser>
       </div>
      <div class="ezy-toolbar-close-button-container">
        <span class="ezy-close-button"
              (click)="changePanelState(false)">
       </span>
      </div>
    </div>
  </section>
</my-accordion>


