@import "../../../../styles/colors";

@keyframes ezy-refreshing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-toggle {
  margin-bottom: 1rem;
}

.ezy {
  &-refresh-button {
    display: flex;
    justify-content: center;
    fill: $ezy-gray-darkest;
    cursor: pointer;
    margin-left: 16px;

    &:hover {
      fill: $ezy-blue;
    }

    &-refreshing {
      animation: ezy-refreshing 1s linear infinite;
    }
  }
}


